.centre{
        
        margin: auto;
        width: 95%;
        
        padding: 5%;
      
}

.header-text
{   background-color:#008b85;
    text-align: center;
    top: 25%;
    font-size: 100px;
    font-family: 'Baloo Da 2', cursive;
    color: white;
    width: 85%;
    height: auto;
    
    
    
    padding-top: 10%;       
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 7.5%;
}